@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

/* Custom styles for Valentine's Day theme */
body {
  @apply min-h-screen text-gray-800;
}

.bg-transparent {
  background-color: rgba(255, 255, 255, 0.2);
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}